@using IT_News.Models.News
@model IT_News.Models.News.NewsViewModel

@{
    /**/

    ViewBag.Title = "Create News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css" />
<script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
<script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>

<h2>Create News</h2>

@using (Html.BeginForm("CreateNews", "News", FormMethod.Post))
{
    // @Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.Title, "Title")
    <br />
    @Html.TextBoxFor(model => model.Title, "Title")
    <br /><br />
    @Html.LabelFor(model => model.ShortDescription, "Short Description")
    <br />
    @Html.TextAreaFor(model => model.ShortDescription, new { style = "width: 40%; max-width: 40%;" })
    <br /><br />
    @Html.LabelFor(model => model.Text, "Text")
    <br />
    <div id="text">
        <textarea name="Text" id="myTextArea"></textarea>
    </div>
    <br /><br />
    @Html.LabelFor(model => model.Section, "Section")
    <br />
    @Html.DropDownListFor(model => model.SectionId, ViewBag.Sections as SelectList)
    <br /><br />
    @Html.LabelFor(model => model.Tags, "Tags:")
    <div id="block">
        <input type="text" name="Tags[0].Name" />
    </div>
    // @Html.TextBoxFor(model => model.Tags[0].Name, "Tags")
    //<input id="Name" name="Name" type="text" />
    <p><a class="addLink">Add new tag</a></p>
    <input class="btn-primary" type="submit" value="Add" />
    <markdown>![](https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg)</markdown>

}
@section Scripts {
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div>" +
                    "<h5>Tag " + (i + 1) + "</h5>" +
                    "<input type='text' name='Tags[" + i + "].Name' />" +
                    "</div>";
                $('#block').append(html2Add);
            })
        })
    </script>

    <script>
        var editor = new Editor({
            element: document.getElementById("myTextArea")
        });

        editor.render();

        drawImage = function (editor) {
            var cm = editor.codemirror;
            var stat = getState(cm);
            _replaceSelection(cm, stat.image, '!!!!!!![', '](http://)!!!!!');
        }
    </script>
}