@model IT_News.Models.News.NewsViewModel

<div>
    @if (Model != null)
    {
        <p style="font-size: 30px; color: brown">@Model.Title</p>
        <p style="color: grey">@Model.ShortDescription</p>
        <p style="color: white">@Html.Raw(ViewData["Mark"])</p>
        <p style="color: grey">@Model.PostedOn</p>
        <p style="color: grey">@Model.Section.Name</p>
    }
</div>