@model IT_News.Models.News.NewsViewModel

@{
    ViewBag.Title = "Edit News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Scripts/simplemde/codemirror/codemirror.css">
<link rel="stylesheet" href="~/Scripts/simplemde/simplemde.min.css">
<link rel="stylesheet" href="~/Content/themes/base/all.css" />
<script src="~/Scripts/simplemde/simplemde.min.js"></script>
<script type="text/javascript" src="~/Scripts/inline-attachment/inline-attachment.js"></script>
<script src="~/Scripts/inline-attachment/codemirror-4.inline-attachment.js"></script>

<h2>@IT_News.Resources.Resource.EditNews</h2>

@using (Html.BeginForm("EditNews", "News", FormMethod.Post))
{
    @Html.LabelFor(model => model.Title, IT_News.Resources.Resource.Title)
    <br />
    @Html.TextBoxFor(model => model.Title)
    <br /><br />
    @Html.LabelFor(model => model.ShortDescription, IT_News.Resources.Resource.ShortDescription)
    <br />
    @Html.TextAreaFor(model => model.ShortDescription, new { style = "width: 40%; max-width: 40%;" })
    <br /><br />
    @Html.LabelFor(model => model.Text, IT_News.Resources.Resource.Text)
    <br />
    <div id="text">
        <textarea name="Text" id="myTextArea">@ViewData["Mark"]</textarea>
    </div>
    <br /><br />
    @Html.LabelFor(model => model.Section, "Section")
    <br />
    @Html.DropDownListFor(model => model.SectionId, ViewBag.Sections as SelectList)
    <br /><br />
    for (int i = 0; i < Model.Tags.Count; i++)
    {
        <div id="block">
            @Html.TextBoxFor(model => model.Tags[i].Name, new { autocomplete = Url.Action("AutocompleteSearch", "News") })
        </div>
    }
    <p><a class="addLink">@IT_News.Resources.Resource.Add_new_tag</a></p>
    <input class="btn-primary" type="submit" value=@IT_News.Resources.Resource.Save />
}

@section Scripts {
    <script>
        $(function () {
            var i = 0;
            $('.addLink').click(function () {
                i++;
                var html2Add = "<div>" +
                    "<h5>Tag " + (i + 1) + "</h5>" +
                    "<input type='text' name='Tags[" + i + "].Name' />" +
                    "</div>";
                $('#block').append(html2Add);
            })
        })
    </script>
    <script src="~/Scripts/simplemde/simplemde.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("[autocomplete]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("autocomplete") });
            });
        });
    </script>
}




