@model IT_News.Models.News.NewsViewModel

@{
    ViewBag.Title = "MoreInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>News Details</h2>
@*<p>
        <b>
            ' + htmlEncode(name)
            + '
        </b>: ' + htmlEncode(message) + '
    </p>' + '<p>' + htmlEncode(date) + '</p>'*@
@Html.Partial("Details", Model);
@foreach (var comment in Model.Comments)
{
    <p>
        <b>@comment.AuthorId</b>
    @comment.Description
</p>
    <p>        
        @comment.Date
    </p>
}
<div id="inputForm">
    <input id="modelId" type="hidden" name="modelId" value="@Model.Id" />
    <input id="userPageId" type="hidden" name="userPageId" value="@Model.UserPage.Id" />
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
</div>
<div id="comments"></div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/SignalR/jquery.signalR-2.4.1.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/SignalR/util.js"></script>
}


