@using IT_News.Controllers
@using IT_News.Models.News
@model IT_News.Models.News.StartPageView

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url(/Content/Image/picture2.jpg);
    }
</style>
<div id="heading">
    <h1>HOME</h1>
</div>

<div style="color: white">
    <div id="tagsCloud">
        @if (ViewData["TagCloud"] != null)
        {
            foreach (var t in (IEnumerable<TagCloud>) ViewData["TagCloud"])
             {
        @*{@Html.RouteLink(t.Name,"Name",new{controller = "News",action = "GetTagClouds", id = t.Id},
        new { @class = NewsController.GetTagClass(t.CountOfTag,t.TotalNews)}*@
                 @Html.ActionLink(t.Name, "Index", "Home", new {@class = HomeController.GetTagClass(t.CountOfTag, t.TotalNews, t.Name)})
                 <span></span>
                 <span></span>
             }
        }
    </div>
    <div style="width: 45%">
        @*@if (Model != null)
        {
            <p style="font-size: 30px; color: brown">@Model.NewsViewModels.Title</p>
            <p style="color: grey">@Model.NewsViewModels.ShortDescription</p>
            <p style="color: white">@Html.Raw(ViewData["Mark"])</p>
            <p style="color: grey">@Model.NewsViewModels.PostedOn</p>
            <p style="color: grey">@Model.NewsViewModels.Section.Name</p>
            <p class="bg-warning">@Html.ActionLink("Edit", "EditNews", "News", new {id = Model.NewsViewModels.Id}, new object())</p>
        }*@
    </div>
    <div>       
    </div>
</div>