@using IT_News.Controllers
@using IT_News.Models.News
@model IT_News.Models.News.StartPageView

@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-image: url(/Content/Image/picture2.jpg);
    }
</style>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div id="heading">
    <h1>HOME</h1>
</div>
<p>
    @Html.ActionLink("Create News", "CreateNews", "News")
</p>
<div style="color: white">
    <h2>Tags</h2>
    <div id="tagsCloud">
        @foreach (var t in (IEnumerable<TagCloud>)ViewData["TagCloud"]) { 
        @*{@Html.RouteLink(t.Name,"Name",new{controller = "News",action = "GetTagClouds", id = t.Id},
        new { @class = NewsController.GetTagClass(t.CountOfTag,t.TotalNews)}*@
            @Html.ActionLink(t.Name,"Index","Home", new { @class = HomeController.GetTagClass(t.CountOfTag, t.TotalNews,t.Name) })
            <span></span><span></span>
        }
    </div>
    <div>
        <p>@Model.NewsViewModels.Title</p>
        <p>@Html.Raw(ViewData["Mark"])</p>
    </div>
    <div>
        
    </div>
</div>