@using IT_News.Controllers
@using IT_News.Models.News
@model IT_News.Models.News.StartPageView

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    body {
        background-image: url(/Content/Image/picture2.jpg);
    }
</style>
<div id="heading">
    <h1>HOME</h1>
</div>

<div style="color: black">
    <div id="tagsCloud">
        @if (ViewData["TagCloud"] != null)
        {
            foreach (var t in (IEnumerable<TagCloud>)ViewData["TagCloud"])
            {
                @Html.ActionLink(t.Name, "ListNewsByTag", "News",new {id=t.Id }, new { @class = HomeController.GetTagClass(t.CountOfTag, t.TotalNews, t.Name) })
                <span></span>
                <span></span>
            }
        }
    </div>
    <div style="float: left;width: 45%">
        <p class="headerNews">Latest news:</p>
        @if (Model != null)
        {
            foreach (var news in Model.NewsViewModels)
            {
                <p style="font-size: 30px; color: brown">@news.Title</p>
                <p style="color: grey">@news.ShortDescription</p>
                <p style="color: grey">@news.PostedOn</p>
                <p style="color: grey">@news.Section.Name</p>
                @Html.ActionLink("Read more >>", "Details", "News", new { id = news.Id, page = "MoreInformation" }, new object())

            }
        }
    </div>
    <div style="float: left;width: 45%">
        <p class="headerNews">News with the highest ratings ★ ☆:</p>
    
    @if (Model != null)
    {
        foreach (var news in Model.NewsViewModelsRating)
        {

            <p style="font-size: 30px; color: brown">@news.Title</p>
                 for (var i = 1; i <= news.TotalRating; i++)
                 {
                     <span class="starGlowN"></span>
                 }
                 for (var i = (news.TotalRating + 1); i <= 5; i++)
                 {
                     <span class="starFadeN"></span>
                 }
            <p style="color: grey">@news.ShortDescription</p>
            <p style="color: grey">@news.PostedOn</p>
            <p style="color: grey">@news.Section.Name</p>
            @Html.ActionLink("Read more >>", "Details", "News", new { id = news.Id, page = "MoreInformation" }, new object())

        }
    }
</div>
</div>
