@model IT_News.Models.UserPageViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@IT_News.Resources.Resource.MyPage</h2>

@Html.LabelFor(model => model.Name, IT_News.Resources.Resource.Name)
<br />
@Html.TextBoxFor(model => model.Name)
<br />
<br />
@Html.LabelFor(model => model.LastName, IT_News.Resources.Resource.LastName)
<br />
@Html.TextBoxFor(model => model.LastName)
<br />
<br />
@Html.LabelFor(model => model.Age, IT_News.Resources.Resource.Age)
<br />
@Html.TextBoxFor(model => model.Age)
<br />
<br />
<p>
    @Html.ActionLink(IT_News.Resources.Resource.CreateNews, "CreateNews", "News")
</p>
<div id="news">
    @Html.Partial("MyNewsList")
</div>
<br />
<br />
<div id="details">
</div>
